## 060 사용자 입력받기

In [5]:
k = input("<값>을 입력하세요")

<값>을 입력하세요apple

In [6]:
print(k)

apple

In [7]:
# 파이썬 내장함수 input()는 사용자가 키보드로 입력한 값을 문자열로 리턴 한다.

## 061 자료형 확인

In [1]:
numdata = 57

In [2]:
print(type(numdata))

<class 'int'>

In [3]:
def func():
    None

In [4]:
print(type(func))

<class 'function'>

In [5]:
listdata = [1,2,3]

In [6]:
print(type(listdata))

<class 'list'>

In [8]:
dic = {'a':0}

In [10]:
print(type(dic))

<class 'dict'>

In [11]:
# 파이썬의 자료형은 하나의 클래스이다

## 062 나눗셈에서 나머지 구하기

In [12]:
11113 % 23

4

In [13]:
12 % 3

0

## 063 몫과 나머지 구하기

In [16]:
divmod(11113,23)

(483, 4)

## 064 10진수를 16진수로 변환하기

In [17]:
hex(12)

'0xc'

In [18]:
hex(8)

'0x8'

In [19]:
hex(15)

'0xf'

In [20]:
hex(255)

'0xff'

In [21]:
hex(255) + hex(1)

'0xff0x1'

In [24]:
int(hex(255), 16) + int(hex(1),16) # 정수로 변환할때 두번째 인자에 16진수임을 지정한다.

256

In [25]:
n = 159

In [26]:
print('%X'%n)

9F

In [27]:
print('%x'%n)

9f

## 065 10진수를 2진수로 변환하기

In [28]:
bin(21)

'0b10101'

In [29]:
bin(2) + bin(99)

'0b100b1100011'

In [30]:
int(bin(44),2)

44

## 066 2진수, 16진수를 10진수로 변환

In [1]:
a = 0b1110000
bstr = '0b1110000'

In [3]:
aa = int(a)

In [4]:
aa

112

In [6]:
aaa = int(bstr,2)

In [7]:
aaa

112

In [8]:
h = 0Xff

In [9]:
hh = int(h)

In [10]:
hh

255

In [11]:
hstr = '0Xff'

In [12]:
int(hstr,16)

255

## 067 절대값 구하기

In [13]:
abs(-44)

44

In [14]:
abs(3+4j)

5.0

## 068 반올림 구하기

In [16]:
round(4.3)

4

In [18]:
round(4.6)

5

In [19]:
round(16.554)

17

In [21]:
round(1118,-1)

1120

In [22]:
round(1114,-1)

1110

In [24]:
round(1114,-2) # 10의 자리에서 반올림하기

1100

In [26]:
round(16.554,2) #소수점 셋짜자리에서 반올림함

16.55

## 069 실수형 자료를 정수형 자료로 변환(int)

In [27]:
int(-5.4)

-5

In [28]:
int(5.4)

5

In [29]:
int(1.78e10)

17800000000

In [30]:
int(1.78e100)

17800000000000001021285640799503588183077763836759785397925361892604171090151993989031604952804360192

In [31]:
int(171.56)

171

In [32]:
int(1.78e2)

178

## 070 정수형 자료를 실수형으로 변환

In [33]:
float(10)

10.0

## 071 정수 리스트에서 소수만 걸러내기

In [37]:
def getPrime(x):
    for i in range(2, x-1):
        if x % i == 0:
            break
    else:
        return x

In [38]:
listdata = [117,119,1113,11113,11119]

In [39]:
list(filter(getPrime, listdata))

[11113, 11119]

In [40]:
# 파이썬 내장함수 filter()은 리스트와 같이 반복 가능한 자료에서 특정 조건을 만족하는 값만을 편리하게 추출할 수 있는 방법을 제공한다.

In [41]:
# filter의 첫번째 인자는 특정조건의 값을 추출하는 함수, 두번째 인자는 리스트와 같은 반복 가능한 자료 입력

In [42]:
# filter()의 리턴값은 결과가 담긴 filter 객체 이다.

## 072 최대값, 최소값 구하기

In [43]:
l = [1,2,3,4,6,7,88,44,33,22]

In [44]:
max(l)

88

In [45]:
min(l)

1

In [46]:
s = 'aksdhfkadhfiuhfiwudhflaksjdhflaksjdh'

In [47]:
max(s)

'w'

In [48]:
min(s)

'a'

In [50]:
max(3,3*3,3**3)

27

## 073 1바이트에서 하위 4비트 추출하기

In [51]:
a = 107
b = a&0x0f

In [52]:
b

11

## 074 1바이트에서 상위 4비트 추출하기

In [53]:
a = 107

In [54]:
b = (a>>4) & 0x0f

In [55]:
b

6

## 075문자열에서 특정 위치의 문자 얻기

In [56]:
'A tadk dsjfsdjhsjdhksajhiuriwu'[10]

'f'

In [57]:
'가나다라마하하하사아아라파'[-2]

'라'

In [58]:
'dfads가나다'[2:5]

'ads'

## 076 문자열에서 지정한 구간의 문자열 얻기

In [59]:
'dsdhflkasjhiwdhfidh kjasdhf laksjd hfiuhf aisdshfalkjsd '[3:9]

'hflkas'

In [60]:
'ㄴ마어림나어리ㅏㅓㅣㅁ나얼;미ㅏㄴ얼;ㅣ만얼;미ㅏㄴ얼'[::-1]

'얼ㄴㅏ미;얼만ㅣ;얼ㄴㅏ미;얼나ㅁㅣㅓㅏ리어나림어마ㄴ'

In [61]:
txt = 'python'
for i in range(len(txt)):
    print(txt[:i+1])

p
py
pyt
pyth
pytho
python

## 077 문자열에서 홀수 번째 문자만 추출

In [62]:
"akdjhfalksdhfaklsjdfh"[::2]

'adhakdfksdh'

In [63]:
"akdjhfalksdhfaklsjdfh"[1::2]

'kjflshaljf'

## 078 문자열을 거꾸로 만들기

In [64]:
t = "asdfasdfasdfasdf"
t[::-1]

'fdsafdsafdsafdsa'

In [67]:
t[::-2] # 뒤에서부터 홀수 번째

'fsfsfsfs'

In [68]:
t[-2::-2] #뒤에서부터 짝수 번째

'dadadada'

## 079 두 개의 문자열 합치기(+)

In [74]:
filename = input("저장할 파일이름을 입력하세요:")

저장할 파일이름을 입력하세요:가나다

In [75]:
filename = filename + ".jpg" # +연산자를 이용해서 연결한다.

In [76]:
print(filename)

가나다.jpg

## 080 문자열을 반복해서 새로운 문자열로 만들기(*)

In [77]:
a = "여러분~"

In [78]:
a*3

'여러분~여러분~여러분~'

## 081 문자열에서 특정 문자가 있는지 확인하기(in)

In [79]:
m = "apple is good"

In [80]:
if 'e' in m:
    print("있음")
else:
    print("없음")

있음

## 082 문자열에서 특정 문자열이 있는지 확인(in)

In [81]:
a = "apple is good"

In [82]:
if 'is' in a:
    print("있음")
else:
    print("없음")

있음

## 083 문자열 길이 구하기(len)

In [85]:
m = 'python'

In [86]:
len(m)

6

In [89]:
m = '안녕하세요.'

In [90]:
len(m)

6

In [92]:
len(m.encode()) #바이트 단위로 계산한다. (5개글자*3바이트)+1(.은 1바이트)

16

## 084 문자열이 알파벳인지 검사

In [94]:
'ㅁ'.isalpha() # 언어의 구성 글자면 True이다.

True

In [95]:
'A'.isalpha()

True

In [96]:
'1'.isalpha()

False

## 085 문자열이 숫자인지 검사

In [97]:
'010-9999-1111'.isdigit()

False

In [98]:
'34234234'.isdecimal()

True

In [99]:
'3423423'.isdigit()

True

In [100]:
'sadfsa'.isnumeric()

False

In [101]:
'1232342'.isnumeric()

True

## 086 문자열이 알파벳 또는 숫자인지 검사하기

In [102]:
'가123'.isalnum()

True

In [103]:
'$dfdd'.isalnum()

False

In [104]:
'2342'.isalnum()

True

## 087 문자열에서 대소문자 변환

In [105]:
'A dfdfdfsdfsf'.lower()

'a dfdfdfsdfsf'

In [106]:
'A sdfdfsdfsdf'.upper()

'A SDFDFSDFSDF'

## 088 문자열에서 좌우 공백 제거

In [107]:
' sadfasdf'.lstrip()

'sadfasdf'

In [108]:
' asdf sadf ds  sadf sdf '.strip()

'asdf sadf ds  sadf sdf'

In [109]:
' asdfsadfasdf '.rstrip()

' asdfsadfasdf'

## 089 문자열을 수치형 자료로 변환

In [112]:
numstr = input("숫자를 입력하세요:")
try:
    num = int(numstr)
    print('당신이 입력한 숫자는 정수 %d입니다.' %num)
except:
    try:
        num = float(numstr)
        print("당신이 입력한 숫자는 실수 %f입니다." %num)
    except:
        print("숫자를 입력 하세요")

숫자를 입력하세요:ㄴㅇㄹ
숫자를 입력 하세요

## 090 수치형 자료를 문자열로 변환

In [113]:
str(1)

'1'

In [114]:
str(1.1)

'1.1'

## 091 문자열에 있는 문자(열) 개수 구하기

In [116]:
'asdfasdfasdfasdf'.count('a')

4

In [117]:
'hello hello'.count('el')

2

## 092 문자열에서 특정 문자(열)위치 찾기(find)

In [119]:
'A lot of thing'.find('o') #찾는 문자 나 문자열이 최초로 나타나는 인덱스를 리턴 한다.

3

In [122]:
'A lot of thing'.find('o', 4) # 4번째 인덱스 부터 찾기 시작 한다.

6

In [124]:
'A lot of thing'.find('ㅏ')  #찾을 수 없으면 -1을 리턴한다.

-1

## 093 문자열을 특정 문자(열)로 분리

In [126]:
'a,c,d,가,sk'.split(',')

['a', 'c', 'd', '가', 'sk']

In [127]:
log = 'name:홍길동 age:17 sex:남자 nation:조선'

In [128]:
log.split()

['name:홍길동', 'age:17', 'sex:남자', 'nation:조선']

In [129]:
for i in log.split():
    print(i.split(':'))

['name', '홍길동']
['age', '17']
['sex', '남자']
['nation', '조선']

## 094 문자열을 특정 문자(열)로 결합(join)

In [132]:
l = ['1','a']

In [133]:
';'.join(l)

'1;a'

In [134]:
str('a')

'a'

In [135]:
l=[1,1]

## 095 문자열에서 특정 문자(열)을 다른 문자(열)로 바꾸기

In [137]:
'abcdef'.replace('b','나')

'a나cdef'

In [139]:
'abcdef'.replace('bc','alice')

'aalicedef'

## 096 문자열을 바이트 객체로 바꾸기

In [140]:
'I love python'.encode()

b'I love python'

In [2]:
'I love python'.encode()[0] == 73

True

## 097 바이트 객체를 문자열로 바꾸기

In [3]:
b'dadfasdfasdf'.decode()

'dadfasdfasdf'

## 098 문자열을 정렬하기

In [4]:
sorted("dbca")

['a', 'b', 'c', 'd']

In [5]:
sorted('abcdef',reverse=True)

['f', 'e', 'd', 'c', 'b', 'a']

In [7]:
"".join(sorted('abcdef',reverse=True))

'fedcba'

In [8]:
",".join(sorted("9876543"))

'3,4,5,6,7,8,9'

In [10]:
''.join(sorted("asdhfaiudhfiuhfiawud")) # 문자열 정렬시 사용하는 방법

'aaadddfffhhhiiisuuuw'

## 099 순차적인 정수 리스트 만들기

In [11]:
range(10)

range(0, 10)

In [12]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
range(1,11)

range(1, 11)

In [14]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
range(1,10,2)

range(1, 10, 2)

In [18]:
list(range(1,10,2)) # 3번째 인수는 step 이다

[1, 3, 5, 7, 9]

In [21]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

## 100 리스트에서 특정 위치의 요소 얻기

In [25]:
ㅣ= [1,2,'a','b','c',[4,5,6]]

In [26]:
ㅣ[1]

2

In [27]:
ㅣ[3]

'b'

In [28]:
ㅣ[5]

[4, 5, 6]

In [29]:
ㅣ[5][2]

6

## 101 리스트에서 특정 요소의 위치 구하기

In [32]:
l = [1,2,3,4,5,6,7,6,5,4,3,2,1]

In [33]:
l.index(4)

3

In [35]:
l.index(4,5) #5번 인덱스 뒤에서 4를 찾는다.

9

## 102 리스트에서 특정 위치의 요소를 변경

In [36]:
l = [1,2,3,4,5,4,3,2,1]

In [37]:
l[3] = '가'

In [38]:
l

[1, 2, 3, '가', 5, 4, 3, 2, 1]

## 103 리스트에서 특정 구간에 있는 요소 추출하기

In [39]:
l = [1,2,3,4,5,6,7,8,9,8,7,6,5,4,3,2,1]

In [40]:
l[4:6]

[5, 6]

In [41]:
l[4:]

[5, 6, 7, 8, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 104 리스트에서 짝수 번째 요소만 추출하기

In [43]:
l = list(range(1,21))

In [44]:
l[1::2]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## 105 리스트 요소 순서를 역순으로

In [49]:
l = list(range(5))

In [53]:
l.reverse() # 원본 리스트 자체가 변경 된다.

In [54]:
l

[0, 1, 2, 3, 4]

## 106 리스트 요소 순서를 역순으로2

In [55]:
l = list(range(5))

In [56]:
l[::-1]

[4, 3, 2, 1, 0]

In [59]:
l #원본이 그대로다

[0, 1, 2, 3, 4]

In [61]:
list(reversed(l)) #새로운 리스트를 생성한다.

[4, 3, 2, 1, 0]

In [63]:
l #원본이 그대로다

[0, 1, 2, 3, 4]

## 107 리스트 합치기

In [64]:
a = [1,2,3,4,5]
b = ['a','b']

In [65]:
a+b

[1, 2, 3, 4, 5, 'a', 'b']

## 108 리스트 반복

In [66]:
l = [1,2,3,4]

In [68]:
l * 4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

## 109 리스트에 요소 추가

In [69]:
l = []

In [70]:
for i in range(3):
    t = input('리스트에 추가 할 값을 입력[%d/3:]' % (i+1))
    l.append(t)
    print(l)

리스트에 추가 할 값을 입력[1/3:]4
['4']
리스트에 추가 할 값을 입력[2/3:]2
['4', '2']
리스트에 추가 할 값을 입력[3/3:]3
['4', '2', '3']

## 110 리스트의 특정 위치에 요소 삽입

In [71]:
l = [1,2,3,4,5]

In [72]:
l.insert(3,'a')

In [73]:
l

[1, 2, 3, 'a', 4, 5]

## 111 리스트의 특정 위치의 요소 제거

In [74]:
l = [1,2,3,4,5]

In [75]:
del l[2]

In [76]:
l

[1, 2, 4, 5]

In [77]:
del l[-3]

In [78]:
l

[1, 4, 5]

## 112 리스트에서 특정 요소 제거

In [83]:
l = [1,2,3,4,5,6,7,6,'a',6]

In [86]:
l.remove(6) # 첫번째 만나는 인덱스 위치의 요소를 제거 한다.

In [87]:
l

[1, 2, 3, 4, 5, 7, 'a', 6]

## 113 리스트에서 특정 구간에 있는 모든 요소 제거

In [88]:
l = [1,2,3,4,5,6,7]

In [89]:
del l[3:6]

In [90]:
l

[1, 2, 3, 7]

## 114 리스트에 있는 요소 개수 구하기

In [91]:
l = [1,1,1,2,3,3,4,5,5,6,7,'a',3,3,3,3,3,5,5]

In [92]:
len(l)

19

## 115 리스트에서 특정 요소 개수 구하기

In [93]:
l = [1,1,1,2,3,3,4,5,5,6,7,'a',3,3,3,3,3,5,5]

In [94]:
l.count(3)

7

In [95]:
l.count(1)

3

## 116 리스트 제거

In [96]:
l = [1,2,3]

In [97]:
del l

In [99]:
l

NameError: name 'l' is not defined

## 117 리스트 요소 정렬1

In [100]:
a = [5,4,3,2,1]

In [104]:
a.sort() #원본을 변경 한다.

In [105]:
a

[1, 2, 3, 4, 5]

In [106]:
a

[1, 2, 3, 4, 5]

## 118 리스트 요소 정렬2

In [107]:
a = [5,4,3,2,1]

In [108]:
sorted(a) # 새로운 리스트를 생성한다.

[1, 2, 3, 4, 5]

In [110]:
a # 원본은 그래로다

[5, 4, 3, 2, 1]

## 119 리스트 요소 무작위로 섞기

In [111]:
from random import shuffle

In [112]:
l = list(range(1,11))

In [113]:
for i in range(3):
    shuffle(l)
    print(l)

[5, 1, 9, 6, 3, 7, 2, 10, 8, 4]
[3, 8, 10, 1, 9, 6, 2, 7, 4, 5]
[1, 8, 9, 7, 2, 5, 6, 10, 3, 4]

In [114]:
l = list(range(1,45))

In [118]:
for i in range(3):
    shuffle(l)
    print(l[0:6])

[2, 23, 9, 12, 8, 34]
[16, 6, 44, 39, 18, 27]
[2, 10, 17, 33, 34, 40]

## 120 리스트의 모든 요소를 인덱스와 쌍으로 추출

In [119]:
a = ['a','b','c']

In [120]:
list(enumerate(a))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [122]:
for i in list(enumerate(a)):
    print("%d : %s" % i)

0 : a
1 : b
2 : c

In [123]:
for i,value in enumerate(a):
    print("%d : %s" % (i,value))

0 : a
1 : b
2 : c

## 121 리스트의 모든 요소의 합 구하기

In [126]:
a = [1,2]

In [127]:
sum(a)

3

In [128]:
a = ['a',1]
sum(a) # TypeError 발생

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [134]:
a = [0,1,2,3,4,5]

In [135]:
all(a)

False

In [136]:
b = [1,2,3,4,5]

In [137]:
all(b)

True

In [138]:
any(a)

True

In [139]:
any(b)

True

In [140]:
c = [True,True]

In [141]:
all(c)

True

In [142]:
any(c)

True

In [143]:
d = ['',[],(),{},None,False]

In [144]:
all(d)

False

In [145]:
any(d)

False

In [146]:
e = [[1]]

In [147]:
all(e)

True

In [149]:
f={}

In [150]:
all(f)

True

In [151]:
g=[]

In [152]:
all(g)

True

In [153]:
h=[{'a':1}]

In [154]:
all(h)

True

## 123 사전에 요소 추가

In [155]:
a ={}

In [156]:
a['a'] = 4

In [157]:
a

{'a': 4}

In [160]:
a['b'] = 'b'

In [161]:
a

{'a': 4, 'b': 'b'}

In [162]:
a = [1,2,3,4,5,6,7,8,9]
b = ['a','b','c','d','e','f','g','h','i','j']

In [163]:
t = {}

In [164]:
for i,k in enumerate(a):
    val = b[i]
    t[k] = val

In [165]:
t

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g', 8: 'h', 9: 'i'}

## 124 사전의 특정 요소값 변경하기

In [166]:
a = {'a':1, 'b':2}

In [167]:
a['b'] = 100

In [168]:
a

{'a': 1, 'b': 100}

## 125 사전의 특정 요소 제거

In [169]:
a = {'a':1, 'b':2}

In [170]:
del a['a']

In [171]:
a

{'b': 2}

## 126 사전의 모든 요소 제거

In [172]:
a = {'a':1, 'b':2}

In [173]:
a.clear()

In [174]:
a

{}

## 127 사전에서 키만 추출

In [175]:
a = {'a':1 , 'b':2}

In [176]:
a.keys() #사전 뷰 객체로 리턴한다. 사전뷰 객체는 사전의 키나 값등을 동적으로 보여주는 기능을 한다.

dict_keys(['a', 'b'])

In [177]:
list(a.keys())

['a', 'b']

## 128 사전에서 값만 추출

In [178]:
a = {'a':1, 'b':2}

In [179]:
a.values()

dict_values([1, 2])

In [180]:
list(a.values())

[1, 2]

## 129 사전 요소를 모두 출력

In [181]:
a = {'a':1,'b':2}

In [183]:
a.items()  #사전뷰 객체로 리턴

dict_items([('a', 1), ('b', 2)])

In [184]:
for i in a.items():
    print(i)

('a', 1)
('b', 2)

## 130 사전에 특정 키가 존재하는지 확인

In [185]:
a = {'a':1, 'b':2, 'c':'alice'}

In [186]:
'c' in a

True

In [187]:
'd' in a

False

In [188]:
# 값에 존재 하는지 검사

In [189]:
'alice' in a.values()

True

In [190]:
'bob' in a.values()

False

## 131 사전 정렬하기

In [199]:
a = {'a':10,'b':9}

In [200]:
sorted(a)

['a', 'b']

In [201]:
def f1(x):
    return x[0]

In [202]:
def f2(x):
    return x[1]

In [203]:
sorted(a.items(), key = f1)

[('a', 10), ('b', 9)]

In [204]:
sorted(a.items(), key = f2)

[('b', 9), ('a', 10)]

In [205]:
sorted(a.items(), key=f2, reverse=True)

[('a', 10), ('b', 9)]

## 132 문자 코드값 구하기

In [206]:
ord('a')

97

In [207]:
ord('한')

54620

In [210]:
ord('1')

49

In [211]:
ord('A')

65

In [213]:
ord('가')

44032

## 133 코드값에 대응하는 문자 얻기

In [214]:
chr(44)

','

In [215]:
chr(65)

'A'

In [216]:
chr(44032)

'가'

In [217]:
chr(33032)

'脈'

## 134 문자열로 된 식을 실행

In [218]:
a = '1+3'

In [220]:
eval(a)

4

In [221]:
a = 'round(3.4)'

In [222]:
eval(a)

3

## 135 이름없는 한줄짜리 함수 만들기

In [230]:
add = lambda x,y: x+y  # 자바스크립트의 익명함수 비슷하다

In [224]:
add(2,3)

5

In [226]:
lambda x : x

In [227]:
a = {'b':1,'a':20}

In [228]:
sorted(a.items(), key=lambda x:x[0])

[('a', 20), ('b', 1)]

In [229]:
# lambda 인자,인자,... : 실행코드

## 136 인자를 바꾸어 함수를 반복 호출하여 겨로가값 얻기

In [231]:
f = lambda x : x*x

In [232]:
a = [1,2,3,4,5,6]

In [233]:
map(f, a)

In [234]:
list(map(f,a))

[1, 4, 9, 16, 25, 36]

In [236]:
list(map(lambda x: x+1, [2,3,4,5,6]))

[3, 4, 5, 6, 7]